"# PSoC Creator files" 
"*.cywrk*" 
"374.cydsn/Generated_Source/" 
"374.cydsn/Debug/" 
"374.cydsn/codegentemp/" 
"374.cydsn/Export/" 
"*.cycdx" 
"*.cydwr" 
"*.cyfit" 
"*.cyprj*" 
"*.rpt" 
"*_timing.html" 
"*.log" 
